<html>
  <head>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="game.js"></script>
  </head>

  <body>
    <form action="/new_board" enctype="multipart/form-data" method="post">
      <p>Upload a new board
        <input type="file" name="board"></input>
      </p>
      <p>
      Matrix Implementationa
      <% ['hash', 'file'].each do |type| %>
        <input type="radio" id="matrix_type_<%= type %>" name="matrix_type"
               value="<%= type %>" <%= matrix_type == type ? 'checked="checked"' : '' %>>
        <label for="matrix_type_<%= type %>"><%= type.capitalize %></label>
      <% end %>
      <input type="submit"></input>
      </p>
    </form>
    <div id="nav">
      Min/Max (square only for now)
      <input type="text" name="min" id="min" value="0"></input> -
      <input type="text" name="max" id="max" value="100"></input>
      <br/>
      <button id="next">Next</button>
      <button id="play">Play</button>
      <button id="stop" style="display: none;">Stop</button>
    </div>

    <canvas id="game" width="800px" height="800px">
    </canvas>
  </body>

</html>
